HELP.md

.gradle/
build/
out/
bin/

.idea/
app/.idea/
*.iws
*.iml
*.ipr

.vscode/

node_modules/
package-lock.json

src/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
